@font-face {
    font-family: 'myFont';
    src: url('UVNBaiSau_R.TTF');
}
	
body {
    background-color: #bfffef;
}

h1 {
    color: #000000;
	font-family: 'myFont';
}

.button-submit{
	height: 50px;
	width: 100%;
}